<h1>Here be <%= @pirate.name %></h1><br>
<p>Name: <%= @pirate.name %></p><br>
<p>Height: <%= @pirate.height %></p><br>
<p>Weight: <%= @pirate.weight %> </p><br>

<h2>Ships:</h2>

<% @ships.each do |ship| %>
    <p>Name: <%= ship.name %></p>
    <p>Type: <%= ship.type %></p>
    <p>Booty: <%= ship.booty %></p>
<% end %>
